<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilutec.dao.CtgGroupMemberMapper">
  <resultMap id="BaseResultMap" type="com.zhilutec.entity.CtgGroupMember">
    <id column="gm_id" jdbcType="INTEGER" property="gmId" />
    <result column="grp_id" jdbcType="VARCHAR" property="grpId" />
    <result column="mbr_id" jdbcType="VARCHAR" property="mbrId" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gm_activity" jdbcType="TINYINT" property="activity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gm_id, grp_id, mbr_id, gmt_created, gmt_modified, gm_activity
  </sql>
  <select id="selectByExample" parameterType="com.zhilutec.entity.CtgGroupMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ctg_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ctg_group_member
    where gm_id = #{gmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ctg_group_member
    where gm_id = #{gmId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhilutec.entity.CtgGroupMemberExample">
    delete from ctg_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhilutec.entity.CtgGroupMember">
    insert into ctg_group_member (gm_id, grp_id, mbr_id, 
      gmt_created, gmt_modified, gm_activity
      )
    values (#{gmId,jdbcType=INTEGER}, #{grpId,jdbcType=VARCHAR}, #{mbrId,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{activity,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhilutec.entity.CtgGroupMember">
    insert into ctg_group_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmId != null">
        gm_id,
      </if>
      <if test="grpId != null">
        grp_id,
      </if>
      <if test="mbrId != null">
        mbr_id,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="activity != null">
        gm_activity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmId != null">
        #{gmId,jdbcType=INTEGER},
      </if>
      <if test="grpId != null">
        #{grpId,jdbcType=VARCHAR},
      </if>
      <if test="mbrId != null">
        #{mbrId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="activity != null">
        #{activity,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhilutec.entity.CtgGroupMemberExample" resultType="java.lang.Integer">
    select count(*) from ctg_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ctg_group_member
    <set>
      <if test="record.gmId != null">
        gm_id = #{record.gmId,jdbcType=INTEGER},
      </if>
      <if test="record.grpId != null">
        grp_id = #{record.grpId,jdbcType=VARCHAR},
      </if>
      <if test="record.mbrId != null">
        mbr_id = #{record.mbrId,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null">
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activity != null">
        gm_activity = #{record.activity,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ctg_group_member
    set gm_id = #{record.gmId,jdbcType=INTEGER},
      grp_id = #{record.grpId,jdbcType=VARCHAR},
      mbr_id = #{record.mbrId,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      gm_activity = #{record.activity,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhilutec.entity.CtgGroupMember">
    update ctg_group_member
    <set>
      <if test="grpId != null">
        grp_id = #{grpId,jdbcType=VARCHAR},
      </if>
      <if test="mbrId != null">
        mbr_id = #{mbrId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="activity != null">
        gm_activity = #{activity,jdbcType=TINYINT},
      </if>
    </set>
    where gm_id = #{gmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhilutec.entity.CtgGroupMember">
    update ctg_group_member
    set grp_id = #{grpId,jdbcType=VARCHAR},
      mbr_id = #{mbrId,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gm_activity = #{activity,jdbcType=TINYINT}
    where gm_id = #{gmId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.zhilutec.entity.CtgGroupMember">
    <id column="gm_id" jdbcType="INTEGER" property="gmId" />
    <result column="grp_id" jdbcType="VARCHAR" property="grpId" />
    <result column="mbr_id" jdbcType="VARCHAR" property="mbrId" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gm_activity" jdbcType="TINYINT" property="activity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gm_id, grp_id, mbr_id, gmt_created, gmt_modified, gm_activity
  </sql>
  <select id="selectByExample" parameterType="com.zhilutec.entity.CtgGroupMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ctg_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ctg_group_member
    where gm_id = #{gmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ctg_group_member
    where gm_id = #{gmId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhilutec.entity.CtgGroupMemberExample">
    delete from ctg_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhilutec.entity.CtgGroupMember">
    insert into ctg_group_member (gm_id, grp_id, mbr_id, 
      gmt_created, gmt_modified, gm_activity
      )
    values (#{gmId,jdbcType=INTEGER}, #{grpId,jdbcType=VARCHAR}, #{mbrId,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{activity,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhilutec.entity.CtgGroupMember">
    insert into ctg_group_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmId != null">
        gm_id,
      </if>
      <if test="grpId != null">
        grp_id,
      </if>
      <if test="mbrId != null">
        mbr_id,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="activity != null">
        gm_activity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmId != null">
        #{gmId,jdbcType=INTEGER},
      </if>
      <if test="grpId != null">
        #{grpId,jdbcType=VARCHAR},
      </if>
      <if test="mbrId != null">
        #{mbrId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="activity != null">
        #{activity,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhilutec.entity.CtgGroupMemberExample" resultType="java.lang.Integer">
    select count(*) from ctg_group_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ctg_group_member
    <set>
      <if test="record.gmId != null">
        gm_id = #{record.gmId,jdbcType=INTEGER},
      </if>
      <if test="record.grpId != null">
        grp_id = #{record.grpId,jdbcType=VARCHAR},
      </if>
      <if test="record.mbrId != null">
        mbr_id = #{record.mbrId,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null">
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activity != null">
        gm_activity = #{record.activity,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ctg_group_member
    set gm_id = #{record.gmId,jdbcType=INTEGER},
      grp_id = #{record.grpId,jdbcType=VARCHAR},
      mbr_id = #{record.mbrId,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      gm_activity = #{record.activity,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhilutec.entity.CtgGroupMember">
    update ctg_group_member
    <set>
      <if test="grpId != null">
        grp_id = #{grpId,jdbcType=VARCHAR},
      </if>
      <if test="mbrId != null">
        mbr_id = #{mbrId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="activity != null">
        gm_activity = #{activity,jdbcType=TINYINT},
      </if>
    </set>
    where gm_id = #{gmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhilutec.entity.CtgGroupMember">
    update ctg_group_member
    set grp_id = #{grpId,jdbcType=VARCHAR},
      mbr_id = #{mbrId,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gm_activity = #{activity,jdbcType=TINYINT}
    where gm_id = #{gmId,jdbcType=INTEGER}
  </update>
</mapper>