<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilutec.dao.CtgUnitBurnerMapper">
  <resultMap id="BaseResultMap" type="com.zhilutec.entity.CtgUnitBurner">
    <id column="ub_id" jdbcType="INTEGER" property="ubId" />
    <result column="unt_id" jdbcType="VARCHAR" property="untId" />
    <result column="bnr_id" jdbcType="VARCHAR" property="bnrId" />
    <result column="ub_activity" jdbcType="TINYINT" property="activity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ub_id, unt_id, bnr_id, ub_activity
  </sql>
  <select id="selectByExample" parameterType="com.zhilutec.entity.CtgUnitBurnerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ctg_unit_burner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ctg_unit_burner
    where ub_id = #{ubId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ctg_unit_burner
    where ub_id = #{ubId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhilutec.entity.CtgUnitBurnerExample">
    delete from ctg_unit_burner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhilutec.entity.CtgUnitBurner">
    insert into ctg_unit_burner (ub_id, unt_id, bnr_id, 
      ub_activity)
    values (#{ubId,jdbcType=INTEGER}, #{untId,jdbcType=VARCHAR}, #{bnrId,jdbcType=VARCHAR}, 
      #{activity,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhilutec.entity.CtgUnitBurner">
    insert into ctg_unit_burner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ubId != null">
        ub_id,
      </if>
      <if test="untId != null">
        unt_id,
      </if>
      <if test="bnrId != null">
        bnr_id,
      </if>
      <if test="activity != null">
        ub_activity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ubId != null">
        #{ubId,jdbcType=INTEGER},
      </if>
      <if test="untId != null">
        #{untId,jdbcType=VARCHAR},
      </if>
      <if test="bnrId != null">
        #{bnrId,jdbcType=VARCHAR},
      </if>
      <if test="activity != null">
        #{activity,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhilutec.entity.CtgUnitBurnerExample" resultType="java.lang.Integer">
    select count(*) from ctg_unit_burner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ctg_unit_burner
    <set>
      <if test="record.ubId != null">
        ub_id = #{record.ubId,jdbcType=INTEGER},
      </if>
      <if test="record.untId != null">
        unt_id = #{record.untId,jdbcType=VARCHAR},
      </if>
      <if test="record.bnrId != null">
        bnr_id = #{record.bnrId,jdbcType=VARCHAR},
      </if>
      <if test="record.activity != null">
        ub_activity = #{record.activity,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ctg_unit_burner
    set ub_id = #{record.ubId,jdbcType=INTEGER},
      unt_id = #{record.untId,jdbcType=VARCHAR},
      bnr_id = #{record.bnrId,jdbcType=VARCHAR},
      ub_activity = #{record.activity,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhilutec.entity.CtgUnitBurner">
    update ctg_unit_burner
    <set>
      <if test="untId != null">
        unt_id = #{untId,jdbcType=VARCHAR},
      </if>
      <if test="bnrId != null">
        bnr_id = #{bnrId,jdbcType=VARCHAR},
      </if>
      <if test="activity != null">
        ub_activity = #{activity,jdbcType=TINYINT},
      </if>
    </set>
    where ub_id = #{ubId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhilutec.entity.CtgUnitBurner">
    update ctg_unit_burner
    set unt_id = #{untId,jdbcType=VARCHAR},
      bnr_id = #{bnrId,jdbcType=VARCHAR},
      ub_activity = #{activity,jdbcType=TINYINT}
    where ub_id = #{ubId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.zhilutec.entity.CtgUnitBurner">
    <id column="ub_id" jdbcType="INTEGER" property="ubId" />
    <result column="unt_id" jdbcType="VARCHAR" property="untId" />
    <result column="bnr_id" jdbcType="VARCHAR" property="bnrId" />
    <result column="ub_activity" jdbcType="TINYINT" property="activity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ub_id, unt_id, bnr_id, ub_activity
  </sql>
  <select id="selectByExample" parameterType="com.zhilutec.entity.CtgUnitBurnerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ctg_unit_burner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ctg_unit_burner
    where ub_id = #{ubId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ctg_unit_burner
    where ub_id = #{ubId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhilutec.entity.CtgUnitBurnerExample">
    delete from ctg_unit_burner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhilutec.entity.CtgUnitBurner">
    insert into ctg_unit_burner (ub_id, unt_id, bnr_id, 
      ub_activity)
    values (#{ubId,jdbcType=INTEGER}, #{untId,jdbcType=VARCHAR}, #{bnrId,jdbcType=VARCHAR}, 
      #{activity,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhilutec.entity.CtgUnitBurner">
    insert into ctg_unit_burner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ubId != null">
        ub_id,
      </if>
      <if test="untId != null">
        unt_id,
      </if>
      <if test="bnrId != null">
        bnr_id,
      </if>
      <if test="activity != null">
        ub_activity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ubId != null">
        #{ubId,jdbcType=INTEGER},
      </if>
      <if test="untId != null">
        #{untId,jdbcType=VARCHAR},
      </if>
      <if test="bnrId != null">
        #{bnrId,jdbcType=VARCHAR},
      </if>
      <if test="activity != null">
        #{activity,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhilutec.entity.CtgUnitBurnerExample" resultType="java.lang.Integer">
    select count(*) from ctg_unit_burner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ctg_unit_burner
    <set>
      <if test="record.ubId != null">
        ub_id = #{record.ubId,jdbcType=INTEGER},
      </if>
      <if test="record.untId != null">
        unt_id = #{record.untId,jdbcType=VARCHAR},
      </if>
      <if test="record.bnrId != null">
        bnr_id = #{record.bnrId,jdbcType=VARCHAR},
      </if>
      <if test="record.activity != null">
        ub_activity = #{record.activity,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ctg_unit_burner
    set ub_id = #{record.ubId,jdbcType=INTEGER},
      unt_id = #{record.untId,jdbcType=VARCHAR},
      bnr_id = #{record.bnrId,jdbcType=VARCHAR},
      ub_activity = #{record.activity,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhilutec.entity.CtgUnitBurner">
    update ctg_unit_burner
    <set>
      <if test="untId != null">
        unt_id = #{untId,jdbcType=VARCHAR},
      </if>
      <if test="bnrId != null">
        bnr_id = #{bnrId,jdbcType=VARCHAR},
      </if>
      <if test="activity != null">
        ub_activity = #{activity,jdbcType=TINYINT},
      </if>
    </set>
    where ub_id = #{ubId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhilutec.entity.CtgUnitBurner">
    update ctg_unit_burner
    set unt_id = #{untId,jdbcType=VARCHAR},
      bnr_id = #{bnrId,jdbcType=VARCHAR},
      ub_activity = #{activity,jdbcType=TINYINT}
    where ub_id = #{ubId,jdbcType=INTEGER}
  </update>
</mapper>